@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F2F2F2;
}

h1 {
    background-color: #071C59;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.imgSec {
    text-align: center;
    padding: 50px 0;
}

.img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 0 20px;
}

.img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.result {
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}

.container {
    margin: 45px 0;
    display: flex;
    justify-content: center;
}

.score {
    border-radius: 10px;
    width: 600px;
    background-color: #3E588C;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    font-size: 30px;
    padding: 10px 0;
}

.uscore h4,
.cscore h4 {
    padding: 10px 0;
}

.score p {
    font-size: 30px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #3E588C;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #FFC400;
}