* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.text {
    background-color: rgb(0, 0, 51);
    color: white;
    line-height: 5rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 70px;
}

.choice {
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.choices img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.choice:hover {
    background-color: black;
}

.choices img:hover {
    opacity: 80%;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    gap: 50px;
    font-size: 2rem;
}

#userscore, #compscore {
    font-size: 5rem;
}

.msg p{
    font-size: 2rem;
    background-color: rgb(0, 0, 51);
    display: inline;
    color: white;
    padding: 10px;
    border-radius: 10px;
}